.data-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .data-item {
    flex: 1 1 30%;
    padding: 10px;
    border: 1px solid #525252;
    border-radius: 5px;
    background: #808080;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .item:hover {
    background: #f8f8f8;
  }
  
  .data-title {
    font-size: 16px;
    font-weight: bold;
  }
  
  .data-description {
    font-size: 14px;
    color: white;
  }
  