.searchBar {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    background: #808080;
   
  }
  .searchBar::placeholder {
    color: white;
    opacity: 1; 
  }
  
  